/* :◊: basic formular validation STYLE :◊: */

*{ margin: 0; padding: 0; box-sizing: border-box;}

:root{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{ 
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    margin: 0 auto;
    background-color:white;
}

section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-container{ 
    position: relative;
    padding: 2.5%;
    background-color: whitesmoke;
    border: 0.16rem solid rgba(0, 0, 0, 0.4);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
}

ul{ list-style: none;}

#headline{
    margin: 4% 0 4% 2%;
    font-size: 95%;
}

.input{ 
    height: 25%;
    width: 90%;
    border: 0.6rem initial;
    font-size: 70%;
    padding: 0.2rem;
}

.li-items{ 
    margin: 1.5%;
    font-size: 80%;
}

.input:required:invalid{ border-color:rgb(255, 0, 255);}

.newsletter{ 
    height: 30%;
    width: 20%;
    border: 0.6em initial;
}


/* >> the labels ↓↓ */

#mail-label{ margin-right: 4rem;}

#fn-label{ margin-right: 1rem;}

#ln-label{ margin-right: 1.1rem;}

#news-label{ margin-right: 1.4rem;}


/* >> the buttons ↓↓ */
.button{
    position: relative;
    background: rgb(253, 253, 253);
    width: 60%;
    height: 4%;
    font-size: 60%;
    border-style: 0.6 solid rgba(0, 0, 0, 0.6);
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    margin: 4%;
    padding: 0.5%;
}
.button:hover{ 
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scaleY(1.1);
}

#btn-res:active{ 
    background-color: rgba(255, 0, 255, 0.5);
    transform: scale(90%);
    cursor: pointer;
}

#btn-send:active{ 
    background-color: rgba(0, 235, 0, 0.5);
    transform: scale(90%);
    cursor: pointer;
}


/* :: media queries :: */
@media only screen and (max-width: 820px) {

    section{ max-width: 100%;
    max-height: 100%;
    padding: 6%;
    margin: 2%;}

}

@media (orientation:landscape){

    section{ max-width: 100%;
    max-height: 100%;
    padding: 12%;
    margin: 5%;}

}
